.header {
   padding: 50px 0;
}
.header-info {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
}
.header-top {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.header-right__list {
   display: flex;
   align-items: center;
   list-style-type: none;
   width: 100%;
   max-width: 210px;
   margin: 0;
   margin-right: 10px;
   padding: 0;
}
.header-right__list__item + .header-right__list__item{
   margin-left: 10px;
}
.header-right__list__item__link {
   text-decoration: none;
   color: #000;
}
.header-right {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.header-right__list__item__form {
   display: flex;
   align-items: center;
   width: 100%;
   max-width: 650px;
   margin-right: 10px;
}
.header-right__list__item__form__search-input {
   width: 100%;
   max-width: 150px;
   height: 30px;
   margin: 0;
   margin-right: 10px;
   padding: 0 5px;
}
.header-right__list__item__form__select {
   width: 100%;
   max-width: 120px;
   margin: 0;
   margin-right: 10px;
   padding: 3px 10px;
}
.header-right__list__item__form__select-sort {
   width: 100%;
   max-width: 90px;
   height: 30px;
   text-align: center;
   margin-right: 10px;
}
.header-right__list__item__form__btn {
   width: 100%;
   max-width: 100px;
   padding: 4px 20px;
   border: none;
   border-radius: 5px;
}
.bookmark--all__btn {
   padding: 4px 20px;
   border: none;
   border-radius: 5px;
}
.bookmark--all__btn:hover {
   color: #f3f3f3;
   background: rgb(30,103,7);
   background: linear-gradient(90deg, rgba(30,103,7,1) 31%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
}
.bookmark--all__btn:active {
   color: #f3f3f3;
   background: rgb(0,212,255);
   background: linear-gradient(90deg, rgba(0,212,255,0.35898109243697474) 0%, rgba(9,9,121,1) 100%);
}
.header-right__list__item__form__btn:hover {
   color: #f3f3f3;
   background: rgb(30,103,7);
   background: linear-gradient(90deg, rgba(30,103,7,1) 31%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
}
.header-right__list__item__form__btn:active{
   color: #f3f3f3;
   background: rgb(0,212,255);
   background: linear-gradient(90deg, rgba(0,212,255,0.35898109243697474) 0%, rgba(9,9,121,1) 100%);
}
.hero .container {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}
.bookmarks--list {
   margin-right: 25px;
}
.list {
   display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.list__item {
   text-align: center;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	padding: 20px;
}
.modal--film {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 100%;
	height: 100%;
	display: none;
	align-items: center;
	justify-content: center;
   background-color: rgba(0, 0, 0, 0.5);
}
.modal--show {
   display: flex;
}
.modal--film__info {
   position: relative;
   width: 500px;
   height: 400px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background-color: #fff;
}
.modal--film__btn {
   position: absolute;
   top: 0;
   right: 0;
   transform: translate(30%, -30%);
   border: 2px solid #d34545;
   border-radius: 50%;
}